<%# this should just show if the user is ALREADY logged in %>
<%- if user_signed_in? %>
  <div id="user_nav" class="grid_12">  
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  </div>
<%- end %>


<%#= upcoming events layout  %>
<%- unless @next_event.blank? %>
  <%= render :partial => 'instagram' %>
  <%= render :partial => 'concept' %>
  <%= render :partial => 'bio' %>
  <div class="clear"></div>
  <%= render :partial => 'menu' %>
  <div class="clear"></div>
  <%= render :partial => 'events/events' %>
  <%= render :partial => 'tweets' %>
  <%#= render :partial => 'sign_up' %>
  <div class="clear"></div>
<%#= NO upcoming events %>
<%- else %>
  <%= render :partial => 'instagram' %>
  <%= render :partial => 'concept' %>
  <%= render :partial => 'bio' %>
  <div class="clear"></div>
  <%= render :partial => 'events/events' %>
  <%= render :partial => 'tweets' %>
   <div class="clear"></div>
<%- end %>



<%- if can? :new, @event %>
<%= render :partial => 'control_panel' %>
<%- end %>









