<!DOCTYPE html>

<head>

<title>JD's Revenge Pop Up</title>	

<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>

<%= stylesheet_link_tag 'main' %>
<%= stylesheet_link_tag 'reset' %>
<%= stylesheet_link_tag '960' %>


<meta name="keywords" content="salad, catering, pop up, popups, san francisco, food,  food truck, darren lacy, jen mcmahon" />
<meta name="description" content="JDs Revenge is a team of chefs in San Francisco" />

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34318078-1']);
  _gaq.push(['_setDomainName', 'jdrevenge.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();


</script>

</head>

<body>

<div id="intro" class="container_12">

    <div id="footer" class="grid_12">
	  <div class="title_bar">
        <span id="email" class="spacer">EMAIL: <%= mail_to "jdsrevengesf@gmail.com", "JD's revenge" %></span>
        <span id="twitter" class="spacer">
	    <a href="http://www.twitter.com/jdsrevengesf"><img src="http://twitter-badges.s3.amazonaws.com/twitter-c.png" alt="Follow jd's revenges on Twitter"/></a>
	    </span>
        <span class="spacer">
	    <!--<a target="_blank" title="" href="http://www.facebook.com/JDs-Revenge#!/profile.php?id=150248231780327"><img src="/images/facebook_icon.png" alt="facebook_icon"></a>-->
	    <a target="_blank" title="" href="http://www.facebook.com/people/@/150248231780327"><img src="/assets/facebook_icon.png" alt="facebook_icon"></a>
	
	    </span>
	    <span id="title"><h1>JD's Revenge San Francisco</h1></span>
	  </div>
    </div>

    <div id="head" class='grid_12'> 
	    <div id="main_title"  onclick="location.href='/start';" style="cursor: pointer;">
		  <img src="/assets/jd_revenge_title.png" alt="JDsRevenge">
	    </div>
        <!-- <h1>JD'S REVENGE</h1> -->
    </div>

	<div class="login_info"> 
		<p id="error"><%= flash[:error] %></p> 
	    <p class="notice"><%= notice %></p>
	    <p class="alert"><%= alert %></p>
	</div>
	
	<%# fixes an issue where error msg etc where blending into the header%>
	<div class="clear"></div>

    <div id="content">
	  <%= yield %>
    </div>
  
</div>

</body>